.primary-select {
  background-color: $primary-color;
  position: relative;
  top: -15px;
  color: white;
  border-radius: 5px;
  width: 140px;
  height: 60px;
  z-index: 1;

  transition: all 0.2s ease-in-out;

  .indicator {
    font-size: 18px;
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    transition: all 0.2s ease-in-out;
  }
  &:hover .indicator {
    transform: rotateX(180deg);
  }

  span {
    background-color: $primary-color;
    cursor: pointer;
    width: calc(100% - 30px);
    height: 0; //calc(60px - 10px);
    opacity: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    transition: border 0 ease-in-out;
    &:after {
      content: ' ';
      width: 80%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 10%;
      top: 0;
    }
    &:first-of-type {
      opacity: 1;
      border-radius: 5px 5px 5px 5px;
      height: calc(60px - 10px);
      &:after {
        display: none;
      }
    }
    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }
  }

  &:hover {
    span {
      opacity: 1;
      height: calc(60px - 10px);
      &:hover {
        background-color: $hover-color;
        color: #000;
      }
      &:first-of-type {
        border-radius: 5px 5px 0 0;
      }
    }
  }
}
