.primary-select {
  background-color: $primary-color;
  position: relative;
  top: -15px;
  color: white;
  border-radius: 5px;
  width: 140px;
  height: 60px;
  overflow-y: hidden;
  overflow-x: visible;
  &:hover {
    transition: all 0.2s ease-in-out;
    overflow-y: visible;
    span {
      position: relative;
      &:after {
        content: ' ';
        width: 80%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 10%;
        bottom: 0;
      }
      &:last-child::after {
        display: none;
      }
    }
  }
  span {
    background-color: $primary-color;
    cursor: pointer;
    width: calc(100% - 30px);
    height: calc(60px - 10px);
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    &:first-of-type {
      border-radius: 5px 5px 0 0;
    }
    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }
  }
}
