@import 'sass-utils/normalize';
@import 'sass-utils/mixin';
@import 'sass-utils/variables';
@import 'sass-utils/functions';
@import 'sass-utils/class';

// component
@import 'components/spinner';

// layout
@import 'layout/header';

// global styles
body {
  font-family: 'DM Sans', sans-serif;
  color: $black;
  background-color: $background-color;
}
