@import 'sass-utils/normalize';
@import 'sass-utils/mixin';
@import 'sass-utils/variables';
@import 'sass-utils/functions';
@import 'sass-utils/class';

// component
@import 'components/spinner';
@import 'components/select';
@import 'components/media';

// layout
@import 'layout/header';

// global styles
body {
  font-family: 'DM Sans', sans-serif;
  color: $black;
}

*:focus {
  outline: 2px solid #000;
}
