@import "sass-utils/normalize";
@import "sass-utils/mixin";
@import "sass-utils/variables";
@import "sass-utils/functions";
@import "sass-utils/class";

// component
@import "components/spinner";

// layout
@import "layout/header";

// global styles
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $white;
  background-color: $dark-gray;
}
