* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  font: inherit;
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
}
