* {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* B&W */
/* theme color */
.spinner {
  position: fixed;
  display: inline-block;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #666a;
}

.spinner::after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: calc(50vh - 32px);
  border-radius: 50%;
  border: 6px solid #901c1c;
  border-color: #901c1c transparent #d3573c transparent;
  -webkit-animation: spinner 1.5s ease-in-out 0s infinite both;
          animation: spinner 1.5s ease-in-out 0s infinite both;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

header h1 {
  color: #901c1c;
  margin-right: 100px;
}

header .logo {
  height: 50px;
  margin-left: 100px;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #000;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.photograph-header .photographer-info {
  margin: auto;
}

.photograph-header .name {
  font-size: 64px;
  line-height: 69px;
  color: #d3573c;
}

.photograph-header .location {
  font-size: 24px;
  line-height: 31px;
  color: #901c1c;
}

.photograph-header .tagline {
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

.photograph-header .contact_button {
  margin: auto auto;
}

.photograph-header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto auto;
}

.photograph-header .photograph-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  bottom: -5px;
  right: 1em;
  background-color: #db8876;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.photograph-header .photograph-like i {
  margin-right: 20px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.photograph-header .photograph-like i:hover {
  color: #fa2cfa;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.contact_button:hover {
  background-color: #db8876;
  color: #000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=photographer.css.map */