@import './sass/shared';

// component

// layout

#contact_modal {
  display: flex;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff4;
}

#main {
  padding: 0 100px;
}

.photograph-header {
  border: 1px solid black;
  background-color: $background-color;
  height: 300px;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;

  .photographer-info {
    margin: auto;
  }

  .name {
    font-size: 64px;
    line-height: 69px;
    color: $secondary-color;
  }
  .location {
    font-size: 24px;
    line-height: 31px;
    color: $primary-color;
  }
  .tagline {
    font-size: 18px;
    line-height: 23px;
    color: $gray;
  }

  .contact_button {
    margin: auto auto;
  }

  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto auto;
  }

  .photograph-like {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: -5px;
    right: 1em;
    background-color: $hover-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    i {
      margin-right: 20px;
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #fa2cfa;
      }
    }
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $hover-color;
    color: $black;
  }
}

.filters {
  position: relative;
  display: block;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  select {
    background-color: $primary-color;
    color: white;
    padding: 20px 23px;
    border-radius: 5px;
    option {
      padding: inherit;
    }
  }
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  header {
    justify-content: space-between;
    width: 100%;
  }

  header img {
    cursor: pointer;
  }

  header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
  }
  textarea {
    width: 100%;
    height: 140px;
    resize: none;
    border-radius: 5px;
  }
  textarea,
  input {
    font-size: 36px;
    padding-left: 5px;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  label {
    color: #312e2e;
    font-size: 36px;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
  }

  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 16px;
    color: #dd1428;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible='true']::after {
    opacity: 1;
  }
  .formData[data-error-visible='true'] .text-control {
    border: 2px solid #e54858;
  }
}
